.App {
  text-align: justify;
  padding: 10px;

}


h1{
  color: black;
  text-align: center;
  font-size: 60px;
  background: linear-gradient(#dffaf6, #d0e7e3);
  border-radius: 10px;
}

ul{
  border: 1px solid;
  background-color: white;
  border-radius: 25px;
  padding: 1px;
  justify-content: center;
}

li{
  list-style-type: none;
}

#botao{
  margin: 20px;

}
